/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: beige;
}

/* Style the navigation bar */
.navbar {
    background-color: #0845ae;
    overflow: hidden;
    display: flex; /* Use flexbox to control the layout */
    justify-content: space-between; /* Distribute space between the elements */
    align-items: center /* Center elements vertically */
}

.left {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}

/* Style the navigation links */
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlist li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing as needed */
    padding: 16px 50px;
}

.navlist li a {
    color: white;
    text-decoration: none;
}


/* Style the search container */
.searchbar{
    float: right;
    padding: 10px;
    display: flex;
}

#searchinput {
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border: none;
    border-radius: 3px;
}

.sbtn {
    
    
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 25px;
    height: 23px;
    background-image: url('search-icon.png'); /* Replace with your search icon image */
    background-size: cover;
    margin-top: 8px;
}

.sbtn:hover {
    background-color: #ddd;
}

/* Add a responsive design */
@media screen and (max-width: 600px) {
    .navlist {
        float: none;
        text-align: center;
    }

    .navlist li {
        float: none;
        display: inline-block;
    }

    .searchbar {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
}

/*css of main*/
.firstsection{
    display:  flex;
    justify-content:space-around;
    margin-top: 30px;
}
.firstsection div{
    width: 30%;
    display: inline;
}
.firstright img{
    width: 80%;
    margin-top: 70px;
}
.firstleft{
    font-size: 3rem;
    margin: 7%;
}
.yellow{
    font-size: 4rem;
    color: rgb(111, 255, 0);
}
.blue{
    font-size: 4rem;
    color: rgb(20, 179, 223);
}